* {
    box-sizing: border-box;
}

#canvas {
    margin: 0 auto;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 30px;
    height: 30px;
    /* flex: 1 1 auto; */
    border: 1px solid black;
    /* align-items: stretch; */
    /* display: inline-block; */
}